* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/************************** menu ******************************/
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: grey;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  color: #ff7b00;
}

.menu a:hover {
  background-color: #ff7b00;
  color: grey;
  border-radius: 20px;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}
#aktiv {
  background-color: #ff7b00;
  color: grey;
  border-radius: 20px;
}

/******************* generelt *************************************/

main {
  max-width: 1200px;
  margin: auto;
}

h1 {
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/********************* Home Page *************************/
.category_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.kategori {
  padding: 25px;
  background-color: grey;
  color: #ff7b00;
  text-decoration: none;
  border-radius: 20px;
}

.kategori:hover {
  color: #ff7b00;
  box-shadow: 5px 10px;
  border-radius: 20px;
}

/********************* Product List *************************/

.product_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px;
}

.card {
  display: grid;
  grid-template-columns: subgrid;
  position: relative;
  gap: 15px;
}

.discount {
  background-color: red;
  position: absolute;
  bottom: 10%;
  right: 20%;
  padding: 15px;
}

.soldout {
  background-color: grey;
  position: absolute;
  top: 30%;
  right: 30%;
  padding: 20px;
}

.imgsoldout {
  filter: grayscale(35%);
}

.catgtekst {
  color: grey;
}

a {
  color: black;
  text-decoration: none;
}

.hover:hover {
  transform: scale(1.1);
}

.underline {
  text-decoration: underline;
}
