* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

/************************** menu ******************************/
header {
  top: 0;
  display: flex;
  justify-content: center;
  background-color: #cd1c19;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border-radius: 10px;
}

span {
  color: #cd1c19;
  font-size: 2.5rem;
}

.red {
  color: #f0ebd8;
}

.logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

#aktiv {
  background-color: #f0ebd8;
  color: #cd1c19;

  border-radius: 20px;
}
#aktiv:hover {
  color: black;
  background-color: #f0ebd8;
}

/******************* generelt *************************************/

main {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
  margin: auto;
}

body {
  background-color: #f0ebd8;
}

h1 {
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-top: 10px;
}
h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  padding-bottom: 20px;
}

.breadcrumb {
  list-style: none;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  padding-left: 10px;
}
.breadcrumb li {
  padding-left: 10px;
  color: #cd1c19;
}

.breadcrumb a:hover {
  text-decoration: underline #cd1c19;
  color: #cd1c19;
}
footer {
  padding: 20px;
}

/********************* Home Page *************************/
.category_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.kategori {
  padding: 25px;
  background-color: #cd1c19;
  color: #f0ebd8;
  text-decoration: none;
  border-radius: 20px;
}

.kategori:hover {
  color: #f0ebd8;
  box-shadow: 5px 10px #7a100e;
  border-radius: 20px;
}

.kategori_tekst {
  padding-top: 0;
}

/*************************************** product *********************************/

.display {
  font-size: 3rem;
}

.knap {
  background-color: #cd1c19;
  color: #ddd1a7;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  width: 200px;
}
.knap:hover {
  color: #f0ebd8;
  box-shadow: 5px 10px #7a100e;
  border-radius: 20px;
}

.style {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}

#size {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  border-radius: 10px;
}

/****************************** media ****************************/
@media (min-width: 400px) {
  .product_list_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding-top: 40px;
  }
  .card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    position: relative;
    gap: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
  }
  /************** product ************/
  .product_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding-top: 40px;
  }

  .product_info {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    gap: 15px;
  }

  .product_buy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ddd1a7;
    padding: 20px;
    gap: 25px;
    border-radius: 20px;
  }

  #center {
    align-content: center;
    padding-top: 20px;
  }

  /************** discount ***************/

  .discount {
    background-color: #cd1c19;
    position: absolute;
    bottom: 3px;
    right: 3px;
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
    visibility: hidden;
    color: #f0ebd8;
  }

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
  }

  .discount2 {
    background-color: #cd1c19;
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
    visibility: hidden;
    text-align: center;
    color: #ddd1a7;
  }

  .soldout {
    font-size: 1.5rem;
    font-weight: 600;
    top: 25%;
    left: 15%;
    position: absolute;
    transform: rotate(20deg);
    visibility: hidden;
    background-color: #cd1c19;
    color: #f0ebd8;
    padding: 10px;
    border-radius: 20px;
  }
  .soldout2 {
    font-size: 2.5rem;
    font-weight: 800;
    top: 60%;
    left: 25%;
    position: absolute;
    transform: rotate(20deg);
    background-color: #cd1c19;
    padding: 10px;
    visibility: hidden;
    border-radius: 20px;
    color: #f0ebd8;
    z-index: 100;
  }
}
/****************************** desktop ****************************/
@media (min-width: 900px) {
  .product_list_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 5;
    gap: 20px;
  }

  .card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 5;
    position: relative;
    gap: 15px;
  }
  /*************** product ************/
  .product_container {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .product_info {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    gap: 15px;
  }

  .product_buy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ddd1a7;
    padding: 20px;
    gap: 25px;
    border-radius: 20px;
  }
  #center {
    align-content: center;
    padding-top: 20px;
  }
  .discount {
    background-color: #cd1c19;
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 13px;
    border-radius: 20px;
    font-size: 1.3rem;
    visibility: hidden;
    color: #f0ebd8;
    /* border: 3px solid #cd1c19; */
  }
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }
  .discount2 {
    background-color: #cd1c19;
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
    visibility: hidden;
    text-align: center;
  }

  .soldout {
    font-size: 2.5rem;
    font-weight: 800;
    top: 30%;
    left: 10%;
    position: absolute;
    transform: rotate(20deg);
    visibility: hidden;
    background-color: #cd1c19;
    padding: 10px;
    border-radius: 20px;
    color: #f0ebd8;
  }
  .soldout2 {
    font-size: 3.5rem;
    font-weight: 800;
    top: 65%;
    left: 15%;
    position: absolute;
    transform: rotate(20deg);
    background-color: #cd1c19;
    padding: 10px;
    visibility: hidden;
    border-radius: 20px;
    color: #f0ebd8;
    z-index: 100;
  }
}

/********************* Product List *************************/

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: baseline;
}

button {
  background-color: #cd1c19;
  color: #f0ebd8;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  width: 100px;
  border: none;
}
button:hover {
  color: #f0ebd8;
  box-shadow: 5px 10px #7a100e;
  border-radius: 20px;
  cursor: pointer;
}

.disctekst {
  text-decoration: line-through;
  color: grey;
}

.tilbud {
  visibility: hidden;
  padding-top: 10px;
}

.yesDiscount {
  visibility: visible;
}

.yesSoldout {
  visibility: visible;
}

.catgtekst {
  color: grey;
}

a {
  color: black;
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.underline:hover {
  text-decoration: underline #232e21;
}
